[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/irakli/mncl/pulser.py
GenericName[en_US]=
GenericName=
Icon=/home/irakli/mncl/icons/mbs_pulser.png
MimeType=
Name[en_US]=MBS Pulser
Name=MBS Pulser
Path=/home/irakli/mncl
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
