[Desktop Entry]
Comment[en_US]=
Comment=
Exec[$e]=$HOME/sfrs-mncl/scripts/konsole_manager.py --nodes x86l-170,x86l-132,x86l-253,x86l-260,x86l-261 --screens mbs,web,com,epx --open
GenericName[en_US]=
GenericName=
Icon[$e]=$HOME/sfrs-mncl/icons/open_konsoles.png
MimeType=
Name[en_US]=Open konsoles
Name=Open konsoles
Path[$e]=$HOME/sfrs-mncl
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
