[Desktop Entry]
Comment[en_US]=
Comment=
Exec[$e]=$HOME/sfrs-mncl/pulser.py -n x86l-132
GenericName[en_US]=
GenericName=
Icon[$e]=$HOME/sfrs-mncl/icons/mbs_pulser.png
MimeType=
Name[en_US]=Pulser x86l-132
Name=Pulser x86l-132
Path[$e]=$HOME/sfrs-mncl/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
