[Desktop Entry]
Comment[en_US]=
Comment=
Exec=~/sfrs-mncl/pulser.py -n x86l-253
GenericName[en_US]=
GenericName=
Icon=~/sfrs-mncl/icons/mbs_pulser.png
MimeType=
Name[en_US]=Pulser x86l-253
Name=Pulser x86l-253
Path=~/sfrs-mncl/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
