[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/irakli/mncl/scifi.py
GenericName[en_US]=
GenericName=
Icon=/home/irakli/mncl/icons/det_scifi.png
MimeType=
Name[en_US]=SciFi
Name=SciFi
Path=/home/irakli/mncl
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
