[Desktop Entry]
Comment[en_US]=
Comment=
Exec[$e]=$HOME/sfrs-mncl/scifi.py
GenericName[en_US]=
GenericName=
Icon[$e]=$HOME/sfrs-mncl/icons/det_scifi.png
MimeType=
Name[en_US]=SciFi
Name=SciFi
Path[$e]=$HOME/sfrs-mncl
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
