[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/cbm/ST3/bin/sh_febtest.sh
GenericName[en_US]=
GenericName=
Icon=/home/cbm/ST3/gui/FEB8_icon.png
MimeType=
Name[en_US]=FEB test
Name=FEB test
Path=/home/cbm/ST3
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
